<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to Vehicle Serives PVT LTD.</h1>
    <div class="button" style="text-align: center;">
        <button type="submit" style="font-size: 50px;"><a href="/create_issue" style="text-decoration: none;">Create Issue</a></button>
        <button type="submit" style="font-size: 50px;"><a href="/close_issue" style="text-decoration: none;">Close Issue</a></button>
    </div>
</body>
</html>